body {
	padding: 0;
	margin: 0;
	color: #101010;
	font-family: "Roboto", sans-serif;
	font-weight: 400; 
	overflow-x: hidden;
}

button, input, .slider-titles-hrefs  {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span, p {
	cursor: text;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.href-container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.main-header {
	width: 100%;
	height: 5rem;
	background-color: white;
	position: fixed;
	z-index: 1000;
	box-shadow: 0 0  0.3125rem 0.0625rem rgba(0,0,0,0.6);
	box-sizing: border-box;
}

.header-logo {
	font-size: 1.6em;
	font-weight: 	700;
}

.nav-header-href {
	font-size: 1.125em;
	color: #4a4a4a;
	font-weight: 500;
	text-decoration: none;
	margin-left: 2.2rem;
	transition: color 0.25s ease;
}

.block-buttons {
	display: flex;
	justify-content: space-between;
}

#header-search {
	background: #f4f4f4 url(images/lense.png) no-repeat;
	background-size: 13px 13px;
	background-position:  0.5625rem, center;
	padding: 0;
	padding-left: 1.8rem;
	box-sizing: border-box;
	outline: none;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	border: 0.1875rem solid #f4f4f4;
	width: 15rem;
	height: 2.3rem;
	border-radius: 0.3125rem;
}

.header-button {
	border: none;
	height: 2.25rem;
	outline: none;
	font-weight: 700;
	font-size: 0.875em;
	color: white;
	border-radius: 0.3125rem;
	cursor: pointer;
	transition: color 0.25s ease;
	transition: background-color 0.25s ease;
}


#header-search-submit {
	background-color: #0c4370;
	border: 0.1875rem solid #0c4370;
	margin-right: 1.875rem;
	margin-left: 1.875rem;
}

#header-search-submit:hover {
	background-color: white;
	color: #0c4370;
}

#header-signup-button, #header-signup-button-mobile {
	background-color: #04a34b;
	border: 0.1875rem solid #04a34b;
}

#header-signup-button-mobile {
	display: none;
}

#header-signup-button:hover {
	background-color: white;
	color: #04a34b;
}

.nav-header-href:hover {
	color: grey;
}

.block-index-1 {
	position: relative;
	width: 100%;
	height: 54.0625rem;
	
}

.get-dark-block {
	position: absolute;
	z-index: 4;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

.block-index-1-text {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	color: white;
}


.calculator-1 {
	height: 27rem;
	width: 20rem;
	background-color: white;
	color: #101010;
	border-radius: 5px;
	padding-top: 5rem;
	font-weight: 700;
	display: flex;
	justify-content: center;
}

.calculator-1 span {
	font-size: 1.5em;
}

.block-index-2 {
	position: relative;
	width: 100%;
	z-index: 8;
}

.calculator-2 {
	width: 100%;
	height: 14.5rem;
	margin-top: -7.25rem;
	background-color: white;
	border: 1px solid #b9b9b9;
	z-index: 8;
	border-radius: 0.625rem;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
		box-shadow: 0 0  0.3125rem 0.0625rem rgba(0,0,0,0.6);
}

.calculator-2 span {
	font-weight: 700;
	font-size: 1.75em;
}

.block-content-index-2 {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 6.25rem;
	display: flex;
	justify-content: space-between;
}

.slider {
	margin-top: 6rem;
}

.slider-titles {
	font-weight: 300;
	font-size: 1.5em;
}

.slider-titles-hrefs {
	margin-right: 1.875rem;
	text-decoration: none;
	color: #101010;
	transition: color 0.1s ease;
}

.slider-titles-hrefs:hover, .title-active {
	color: #0c4370;
	border-bottom: 1px solid #0c4370;
}



.slider-content {
	width: 100%;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.slide {
	width: 100%;
	height: 0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	visibility: hidden;
	opacity: 0.5;
	transition: opacity 1s ease;
	overflow: hidden;
	word-wrap: break-word;
}

.effectClass {
	opacity: 1;
	visibility: visible;	
}

.slide-inside-content {
	margin-top: 2rem;
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	margin-left: -5%;
}

.slide-inside-content-hrefs {
	margin-bottom: 2rem;
	margin-left: 5%;
}

/*77*/

.block-content-index-2-left {
	flex: 70%;
	margin-right: 5%;
}

.block-content-index-2-right {
	flex: 25%;
}

.block-content-index-2-left-content {
	display: flex;
	justify-content: start;
	width: 100%;
	flex-wrap: wrap;
  /*gap: 1rem;*/
  margin-left: -1rem; 
  flex-shrink: 0;
  align-items: flex-start;
}

.car-simple-block-2-index {
	width: 30%;
	border-radius: 0.625rem;
	box-shadow: 0 0.1125em  0.3125rem 0.0625rem rgba(0,0,0,0.6);
	margin-bottom: 5rem;
	position: relative;
	min-height: 13.75em;
	margin-left: 1rem;
}

.img-car-simple-block-2-index {
	width: 90%;
	height:  9.375rem;
	margin-top: -20%;
	border-radius:  0.625rem;
	position: absolute;
	box-shadow: 0 0.1125em  0.2125rem 0.0625rem rgba(0,0,0,0.6);
}


.jsc {
	display: flex;
	justify-content: center;
}

.car-simple-block-2-index-content {
	width: 90%;
}

.marginfor {
	margin-top: 45%;
}

.car-content-title {
	font-weight: 700;
	font-size: 0.875em;
}

.car-content-info {
	font-weight: 300;
	font-size:  0.6875em;
}

.car-content-place {
	font-weight: 100;
	font-size: 0.5625em;
}

.car-car-info {
	margin-bottom: 0.4375em;
	word-wrap: wrap;
}

.car-new-left {
	width: 100%;
	/*height: 100px;*/
	margin-bottom: 5rem;
}


.car-new-left-img-first {
	width: 60%;
	max-height: 40%;
	margin-right: 10%;
}

.car-new-left-img-other {
	width: 30%;
	padding: 0;
}

.images-car-new {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.8rem;
}

.car-new-left-img-other-img {
	width: 100%;
	margin-bottom: -0.2rem;
}


footer {
	width: 100%;
	height: 5rem;
	background-color: white;
	position: relative;
	box-shadow: 0 0  0.3125rem 0.0625rem rgba(0,0,0,0.6);
	box-sizing: border-box;
}

/*
.nav-footer {

}*/

.nav-footer-href {
	font-size: 1.5em;
	margin-left:  1.875rem;
	color: #101010;
	text-decoration: none;
	font-weight: 300;
	transition: color 0.25s ease;
}


.nav-footer-href:hover {
	color: grey;
	border-bottom: 1px solid grey;
}

.rights-footer {
	font-size: 1em;
	font-weight: 700;
}

.mobile-header {
	width: 100%;
	height: 120%;
	background-color: white;
	z-index: 10011000000;
	position: fixed;
	transform: translateX(100%);
	display: none;
	transition: transform 0.45s ease;
}

.margin-popular {
	margin-bottom: 5rem;
}
#open-mobile-menu-bt {
	width: 2.3rem;
	height: 2.3rem;
	display: none;
}

#close-mobile-menu-bt {
	width: 2.3rem;
	height: 2.3rem;
	position: absolute;
	right: 1.5rem;
	top: 1.5rem;
}

.display-none-br {
	display: none;
}

.mobile-menu-logo {
	font-size: 3em;
	margin-top: 3rem;
	margin-bottom: 3rem; 
}

.mobile-header-form {
	margin-bottom: 3rem;
}

.mobile-nav-header-href {
	color: #101010;
	font-size: 3em;
	margin-bottom: 1.5rem;
	text-decoration: none;
}


.car-block-infile {
	padding-top: 8rem;
	position: relative;

}

.car-in-infile {
	position: relative;
}

#main-image-car-infile {
	width: 77%;
	height: 35rem;
	border-radius: 0.5rem 0 0 0.5rem;
}

.block-title-car-infile {
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 2em;
}


#watch-later-button {
	width: 1.5rem;
	height: 1.5rem;
	background: none;
	border: none;
	outline: none;
	transition: opacity 0.25s ease;
	cursor: pointer;
	position: relative;
	top: 50%;

}

#watch-later-button > img {
	width: 1.5rem;
	height: 1.5rem;
}

#watch-later-button:hover {
	opacity: 0.5;
}

.d-i {
	display: inline-block;
}

.images-other {
	width: 20%;
	height: 35rem;
	position: relative;
	overflow: hidden;
	margin-left: 2%;
}

.images-other-content {
	/*display: flex;
	justify-content: space-between;
	flex-wrap: wrap;*/
	width: 100%;
}
.another-image-car-infile {
	width: 100%;
	height: 150px;
	margin-bottom: 22%;
}

.get-dark-infile-image {
	width: 100%;
	height: 150px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}


#MyModal {
	display: none;
	position: fixed;
	width: 100%;
	height: 120%;
	padding-top: 100px;
	left: 0;
	right: 0;
	top: 0px;
	overflow: auto;
	z-index: 4848948948489;
	background-color: rgba(0,0,0,0.9);
}

.modal-content {
	width: 80%;
	max-width: 800px;
	max-height: 800px;
	display: block;
	margin: auto;
}

#closeModal {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 48px;
	color: white;
}

#modalNextImage, #modalPrevImage {
	font-size: 48px;
	color: white;
	position: absolute;
	cursor: pointer;
	top: 400px;
	-moz-user-select: none;
	-khtml-user-select: none; 
	user-select: none;
}

#modalNextImage {
	right: 15px;
}

#modalPrevImage {
	left: 15px;
}


.image-modal {
	cursor: pointer;
}

.image-text-modal {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	color: white;
}

.block-car-info {
	position: relative;
	display: flex;
	justify-content: space-between;
}


.block-images-car-infile {
	margin-bottom: 6.25rem;
}

.block-car-info-left {
	flex: 70%;
}

.block-car-info-right {
	flex: 20%;
	margin-left: 10%;
}

.most-important-info {
	height: 5rem;
	width: 100%;
	position: sticky;
	background-color: #262626;
	top: 7rem;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
	margin-bottom: 2rem;
	z-index: 154154;
}

#time-for-end {
	width: 2.3rem;
	height: 2.3rem;
}

.time-left-p, .high-bid-p {
	color: #606161;
	font-weight: 700;
	font-size: 1.3em;
	margin-right: 1rem;
	display: inline-block;
}

.time-left-p span, .high-bid-p span {
	color: white;
	font-weight: 300;
}

#high-bid-p-image {
	width: 1.2rem;
	height: 1.2rem;
	opacity: 0.4;
	margin-right: 0.5rem;
}

.end-auction span {
	color: grey;
	font-weight: 400;
	font-size: 1.5em;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-color: grey;
    width: 100%;
    border-spacing: 0;
    word-wrap: break-word;	
    font-weight: 300;
    font-size: .9em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

    
tr {
	/*border-left: 1px solid black;*/
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }


td {
	    border-right: 1px solid #E1E1E1;
   /* border-bottom: 1px solid black;*/
    margin: 0;
    padding: 0.7rem;

}

.subtop1 {
	border-top:  1px solid #E1E1E1;
	border-left:  1px solid #E1E1E1;
}

.subtop2, .subtop3, .subtop4 {
	border-top:  1px solid #E1E1E1;
	/*width: 13%;*/
}


.bt-bt {
	border-bottom: 1px solid #E1E1E1;
}


.left-top-border {
	border-radius: .8rem 0 0 0;
}

.right-top-border {
	border-radius: 0 .8rem 0 0;
}

.right-bottom-border {
	border-radius: 0 0 .8rem 0;
}

.left-bottom-border {
	border-radius: 0 0 0 .8rem;
}

.grey-column {
	width: 15%;
	background-color: #f4f4f4;
	font-weight: 500;
}

.seller-image {
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%; 
}

.content-table {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.table-a {
	margin-left: 1rem;
	font-size: 1em;
	font-weight: 400;
	color: #101010;
	text-decoration: none;
	margin-bottom: -0.3rem;
}

.table-a:hover {
	text-decoration: underline;
}

.lists {
	position: relative;
}

ul {
	font-weight: 400;
	font-size: 1.2em;
	font-family: "Roboto", sans-serif;
}

.hr-infile {
	border: none;
	background-color: #d1d1d1;
	width: 100%;
	height: 1px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}


.bidder-block {
	width: 100%;
	height: 100%;
	min-height: 200px;
	border: 1px solid #E1E1E1;
	border-radius: 1rem 1rem 0 0;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 2rem;
	box-sizing: border-box;
	border-bottom: none;
}


.seller-image-sell, .table-a-sell {
	margin-left: 0.5rem;
}

.content-table-sell span {
	font-weight: 500;
	margin-right: 1rem;
}

.content-table-sell {
	/*width: 100%;*/
	height: 100%;
	display: flex;
	align-items: center;
}

.first-line {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.content-2-table {
	margin-right: 10rem;
}

.contact-table-a {
	color:  #04a34b;
}

.no-border {
	border-radius: 0; 
}

.second-line {
	margin-top: 2rem;
}

#data-date {
	margin-left: 0.5rem;
	font-size: 0.75rem;
	margin-right: 0;
}

.third-line {
	justify-content: flex-end;
}

.d-d-datre {
	margin-right: 10rem;
	margin-top: -1.5rem;
}

.bid-money {
	font-size: 4em;
}


.the-last-line-infile {
	width: 100%;
	height: 80px;
	background-color: #EEEEF0;
	border: 1px solid #E1E1E1;
	border-radius: 0 0 1rem 1rem;
	border-top: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.bidder-2-block {
	margin-bottom: 10rem;
}

#place-bid {
	height: 60%;
	width: 8.5rem;
	cursor: pointer;
	border: 1px solid #E1E1E1;
	background-color: white;
	font-size: 1.2em;
	color: #04a34b;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	outline: none;
	border-radius: .5rem;
}

#place-bid:hover {
	background-color: #FAFAFC;
}

.a-bidder-block-2 {
	font-size: 0.8em;
}

.image-bidder-block-2 {
	width: 1.5rem;
	height: 1.5rem;
}

.some-href-in-bidder-block {
	display: flex;
	align-items: center;
}

.none-effect-a {
	text-decoration: none;
}

.most-important-info span, .most-important-info p {
	cursor: pointer;
}

#ajax-textarea-infile-comments {
	resize: none;
	min-height: 3rem;
	width: 100%;
	outline: none; 
	box-sizing: border-box;
	padding-top: 1.3rem;
	padding-left: 0.5rem;
	padding-right: 3rem;
	border: 1px solid #CACACC;
	border-radius: 0.5rem;
	font-size: 1.3em;
	overflow: hidden;
}

#ajax-submit-infile-comments {
	margin-right: 1rem;
	background: none;
	border: none;
	outline: none;
	opacity: none;
	cursor: pointer;
	position: absolute;
	bottom: 1rem;
}

.disabled {
	opacity: 0.5;
	cursor: default !important;
}

#comments-form-infile {
	position: relative;
}
.button-block {

	width: 100%;
	display: flex;
	justify-content: flex-end;
	
}

.slider-infile {
	margin-bottom: 100rem;
}

.slider-titles-comments {
	font-size: 1em;
}

.comment-in-infile {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.seller-name-comment {
	margin-left: 0.5rem;
	margin-right: 0.25rem;
}

.comment-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.seller {
	width: 3.5rem;
	height: 1.2rem;
	font-size: 0.9em;
	font-weight: 700;
	background-color: #04a34b;
	color: white;
	border-radius: 0.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#time-for-comment {
	color: #B3B3B4;
	font-weight: 300;
}

.comment-text {
	font-size: 0.9em;
	font-weight: 500;
	margin-left: 2rem;
}

.buttons-comment {
	margin-left: 2rem;
}

.buttons-comment button {
	background: none;
	outline: none;
	border: 1px solid #B3B3B4;
	cursor: pointer;
	border-radius: 0.4rem;
	color: #B3B3B4;
	width: 3rem;
	height: 2rem;
}

.reply-button-comment img{
	width: 1rem;
	height: 1rem;
}

.reply-button-comment {
	margin-bottom: -10rem; 
}


/* ADAPTIVE */

@media screen and (max-width: 1200px) {
	body {
		font-size: 12px;
	}

	.container {
		width: 980px;
	}

	#header-signup-button {
		margin-top: 0.15rem;
	}

	.img-car-simple-block-2-index {
		height: 7.5rem;
	}

	.another-image-car-infile {
		margin-bottom: 3.28rem;
	}
}


@media screen and (max-width: 901px) {
	body {
		font-size: 10px;
	}

	.container {
		width: 740px;
	}

	#header-search-submit {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.nav-header-href {
		margin-left: 1rem;
	}


	#header-search {
		height: 2rem;
		width: 10rem;
	}


	.header-button {
		height: 2rem;
	}

	.img-car-simple-block-2-index {
		height: 6rem;
	}

	#main-image-car-infile {
		height: 25rem;
	}

	.another-image-car-infile {
		height: 6.5rem;
		margin-bottom: 2.5rem;
	}

	.images-other {
		height: 25rem;
	}

	.get-dark-infile-image {
		height: 6.5rem;
	}

	.high-bid-p, .time-left-p {
		font-size: 1em;
	}

	.bid-money {
		margin-bottom: 1.2rem;
	}

	#time-for-end, #high-bid-p-image {
		height: 0.8rem;
		width: 0.8rem;
	}

	.most-important-info {
		height: 3rem;
		top: 6rem;
	}

	.content-2-table {
		margin-right: 2rem;
	}

	.d-d-datre {
		margin-top: 3rem;
		margin-bottom: 1rem;
	}

	.image-bidder-block-2 {
		width: 1rem;
		height: 1rem;
	}
}


@media screen and (max-width: 750px) {
	.nav-header {
		display: none;
	}

	.mobile-header {
		display: block;
	}

	#open-mobile-menu-bt {
		display: block;
	}

	.container {
		width: 550px;
	}

	.desktop-header-form {
		display: none;
	}

	#header-signup-button {
		margin-left: 20rem;
	}

	#open-mobile-menu-bt {
		margin-top: 0.2rem;
	}

	.block-content-index-2 {
		display: block;
	}

	.block-content-index-2-left-content {
		gap: 0;
	}

	.car-simple-block-2-index {
		width: 100%;
		margin-bottom: 10rem;
	}

	.marginfor {
		margin-top: 25%;
		margin-bottom: 5%;
	}

	.img-car-simple-block-2-index {
		height: 13rem;
		width: 70%;
	}

	.margin-popular  {
		margin-bottom: 10rem;
	}

	.nav-footer-href {
		margin-left: 0.5rem;
		font-size: 0.8rem;
	}


	#main-image-car-infile {
		height: 20rem;
	}

	.another-image-car-infile {
		height: 4.5rem;
		margin-bottom: 3rem;
	}

	.images-other {
		height: 20rem;
	}

	.get-dark-infile-image {
		height: 4.5rem;
	}

	.high-bid-p, .time-left-p {
		font-size: 0.8em;
	}

	.bid-money {
		margin-bottom: 1.2rem;
	}
}


@media screen and (max-width: 558px) {
	.container {
		width: 480px;
	}

	#header-signup-button {
		margin-left: 10rem;
	}

	.marginfor {
		margin-top: 35%;
		margin-bottom: 8%;
	}

	.calculator-2 {
		height: 10rem;
		margin-top: -5rem;
	}

	.nav-footer-href {

	}
}

@media screen and (max-width: 481px) {
	.container {
		width: 100%; padding: 20px;
		box-sizing: border-box;
	}

	.some-delete-flex {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.img-car-simple-block-2-index {
		height: 10rem;
	}

	.block-car-info {
		display: block;
	}

	#main-image-car-infile {
		height: 12rem;
	}

	.another-image-car-infile {
		height: 3rem;
		margin-bottom: 1.25rem;
	}

	.images-other {
		height: 12rem;
	}

	.get-dark-infile-image {
		height: 3rem;
	}

	.high-bid-p, .time-left-p {
		font-size: 0.8em;
	}

	.bid-money {
		margin-bottom: 1.2rem;
	}
}

@media screen and (max-width: 401px) {
	#header-signup-button {
		margin-left: 5rem;
	}
}

@media screen and (max-width: 351px) {
	.img-car-simple-block-2-index {
		height: 9rem;
	}

	#header-signup-button {
		margin-left: 1rem;
	}
}

@media screen and (max-width: 330px) {
	body {
		font-size: 8px;
	}

	.calculator-1 {
		width: 15rem;
		height: 20rem;
		margin-bottom: 2rem;
	}

	.calculator-2 {
		height: 6rem;
		margin-top: -3rem;
	}

	.img-car-simple-block-2-index {
		height: 7rem;
	}

	.nav-footer-href {
		font-size: 0.5em;
	}

	.rights-footer {
		font-size: 0.5em;
	}
}


@media screen and (max-width: 295px) {
	body {
		font-size: 6px;
	}

	#header-signup-button {
    margin-left: 0;
	}

	.img-car-simple-block-2-index {
		height: 5rem;
	}

	.rights-footer {
		font-size: 1em;
	}

	.nav-footer-href {
		font-size: 2em;
	}
}

@media screen and (max-width: 290px) {
	.img-car-simple-block-2-index {
		height: 6.5rem;
	}
}

.block-search-1 {
	padding-top: 100px;
	min-height: 1000px;
}


.slider-search {
	margin-top: 0; 
}

.margin-search-car {
	padding-top: 5rem;
	margin-left: -2.5%;
}

.margin-for-flex-item {
	margin-left: 3%;
}

.flex-search {
	flex: 100%;
}

/*
.mobile-search-img {
	height: 12rem;
}*/


@media screen and (min-width: 1000px) {
	.mobile-search-img {
	height: 10rem;
}
}

@media screen and (min-width: 1400px) {
	.mobile-search-img {
	height: 12rem;
}
}